.programme {
  background-color: rgb(17, 21, 23);
  padding-bottom: 370px;
  position: relative;
}

.programme__title {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 20px;
  color: $secondary-color;
  line-height: 33px;
  text-align: center;
  padding-top: 76px;
  margin-bottom: 15px;
  line-height: 1.65;

}

.programme__list {
  margin-left: 65px;
  position: relative;

  &::before {
    content: "";
    width: 2px;
    height: 92%;
    background-color: #546264;
    position: absolute;
    left: 4px;
    top: 4px;
  }
}

.programme__list-item {
  position: relative;
  padding-left: 34px;
  margin-bottom: 34px;
}

.programme__list-item::before {
  display: block;
  content: "";
  border-radius: 50%;
  background-color: $decor-color;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 4px;
  left: 0;
}


.programme__title-item {
  font-size: 15px;
  font-family: "Montserrat";
  color: $secondary-color;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
  margin-bottom: 30px;

}

.programme__list-section-title {
  font-size: 13px;
  font-family: "Montserrat";
  color: $decor-color;
  line-height: 30px;
  margin-bottom: 8px;
  position: relative;
  padding-left: 35px;
}

.programme__list-section-title::before {
  display: block;
  content: "";
  background-color: $decor-color;
  position: absolute;
  width: 25px;
  height: 2px;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);

}

.content {
  font-size: 11px;
  font-weight: 400;
  font-family: "Montserrat";
  color: rgba(133, 133, 133, 0.502);
  line-height: 20px;
}

.programme__list::after {
  position: absolute;
  width: 135px;
  height: 183px;
  content: "";
  background-image: url("../images/photos/programme_mobile@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  left: 100px;
  bottom: -140px;

}

.programme__title_zag {
  font-weight: 800;
  font-size: 20px;
  color: $secondary-color;
  line-height: 33px;
  width: 136px;
  margin-bottom: 15px;
  line-height: 1.65;
  // text-align: right;
}

// .programme__list-section-item{
//     margin-top: 24px;
// }
.content_last {
  font-size: 11px;
  font-weight: 400;
  font-family: "Montserrat";
  color: rgba(133, 133, 133, 0.502);
  line-height: 20px;
  padding-top: 26px;
}

.content_last::before {
  display: block;
  content: "";
  background-color: $decor-color;
  position: absolute;
  width: 25px;
  height: 2px;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
}


// section
.program__list-wrapper {
  position: absolute;
  width: 280px;
  bottom: -202px;
  left: 50%;
  transform: translateX(-50%);
}

.program__list {
  background-color: $secondary-color;
  padding-top: 15px;
  counter-reset: problems-count;
  padding-left: 20px;
  padding-bottom: 15px;
  box-shadow: 4px 6.928px 23.68px 8.32px rgba(29, 29, 27, 0.11);
}

.program__list-item {
  font-size: 13px;
  font-family: 'Montserrat';
  color: rgb(24, 25, 29);
  font-weight: bold;
  line-height: 1.538;
  position: relative;
  padding-top: 30px;
  width: 220px;
}

.program__list-item::after {
  font-family: 'Montserrat', sans-serif;
  display: block;
  counter-increment: problems-count;
  content: '0'counter(problems-count);
  position: absolute;
  top: 0;
  left: 35px;
  font-size: 14px;
  color: $decor-color;
}

.program__list-item::before {
  content: '';
  display: block;
  width: 24px;
  height: 2px;
  background-color: $decor-color;
  position: absolute;
  left: 0;
  top: 9px;
}

.program__list-item:not(:last-child) {
  margin-bottom: 15px;
}

@media (min-width: 320px) and (min-resolution: 192dpi) {
  .programme__list::after {
    background-image: url("../images/photos/programme_mobile.png");
  }
}

@media screen and (min-width:768px) {
  .programme__list-section-item {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }

  .programme__list::before {
    height: 87%;
  }

  .programme__list-block {
    width: 470px;
  }

  .programme__title {
    text-align: left;
  }

  .programme__list::after {
    width: 406px;
    height: 300px;
    left: unset;
    bottom: -140px;
    right: -40px;
    content: "";
    background-image: url("../images/photos/programme_tablet.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }

  @media (min-resolution: 192dpi) {
    .programme__list::after {
      background-image: url("../images/photos/programme_tablet@2x.png");
    }
  }

  .content_last::before {
    display: block;
    content: "";
    background-color: $decor-color;
    position: absolute;
    width: 25px;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    left: 6%;
  }


  .program__list-wrapper {
    min-width: 680px;
    min-height: 310px;
    bottom: -160px;
    left: 50%;
    transform: translateX(-50%);

  }

  .program__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .program__list-item {
    min-width: 190px;
    margin-right: 70px;
  }

  .programme__title_zag {
    font-weight: 800;
    font-size: 26px;
    color: $secondary-color;
    line-height: 2.405;
    margin-bottom: 20px;


    line-height: 1.65;
    bottom: 185px;
    position: absolute;
    min-width: 350px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width:1280px) {
  .programme__list {
    display: flex;
    justify-content: space-between;
    margin: 0;

  }

  .programme__list-section-item {
    width: 0;
    display: block;
  }


  .programme__list-block {
    width: 0;
  }

  .programme__list::before {
    // transform: rotate(90deg) translateY(-50%);
    height: 2px;
    width: 100%;
    left: -36px;
    top: -45px;
  }

  .content {
    width: 168px;
  }


  .programme__list::after {
    background-image: url("../images/photos/programme_desk.png");
    width: 546px;
    height: 420px;
    top: 68%;
    left: -45px;
  }

  .content_last::before {
    position: absolute;
    width: 25px;
    height: 2px;
    top: 19%;
    transform: translateY(-50%);
    left: 29%;
  }


  .programme__title {
    font-size: 42px;
    line-height: 62px;
    margin-bottom: 70px;
    padding-top: 64px;

  }
  .programme{
    min-height: 1100px;
   }

  .programme__title_zag {
    font-size: 42px;
    font-family: "Montserrat";
    color: $secondary-color;
    font-weight: bold;
    line-height: 1.346;
    width: 600px;
    text-align: center;
    top: 685px;
    letter-spacing: 2px;
  }


  .programme__list-item::before {
    top: -50px;
    left: 33px;
  }


  .program__list {
    height: 340px;
    padding-top: 52px;
    padding-bottom: 23px;
  }

  .program__list-wrapper {
    min-width: 1210px;
    min-height: 320px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }

  .program__list-item {
    width: 310px;
    margin-right: 20px;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: bold;
    line-height: 1.62;
  }

  @media (min-resolution: 192dpi) {
    .programme__list::after {
      background-image: url("../images/photos/programme_desk@2x.png");
    }


  }
}
